name: CI-CD

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  # ci:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout do repositório
  #       uses: actions/checkout@v4.2.2
  #     - name: Print current path
  #       run: ls src
  #     - name: Docker hub login
  #       uses: docker/login-action@v3.3.0
  #       with:
  #         username: ${{secrets.DOCKER_HUB_USERNAME}}
  #         password: ${{secrets.DOCKER_HUB_PWD}}
  #     - name: Build e push da imagem docker
  #       uses: docker/build-push-action@v6.15.0
  #       with:
  #         context: src
  #         push: true
  #         tags:
  #           caiovrodrigues/fake-shop:latest
  cd:
    runs-on: ubuntu-latest
    # needs: [ci]
    steps:
      - name: Autentica na aws
        env:
          AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
          aws configure set default.region us-east-1
      - run: aws s3 ls
      - name: Conectamos no cluster
        run: aws eks update-kubeconfig --name eks-cluster
      - name: Deploy dos manifestos no cluster
        run: echo "Etapa de deploy dos manifestos no cluster"
      - run: echo "Fim do jbo de Entrega contínua"
      
      
      
